<div id="p_userinfo">
<form  name="userinfo_form"  id="p_userinfo_form" enctype="multipart/form-data" >
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="username">用户名:</label>
                <p><%=username%></p>
            </div>
            <div class="form-group">
                <label for="password">密码:</label>
                <input type="password" class="form-control pwd" id="p_userinfo_password1" placeholder="******如需修改，请重新输入" name="password1">
            </div>
            <div class="form-group">
                <label for="password">再次输入密码:</label>
                <input type="password" class="form-control pwd" id="p_userinfo_password2" placeholder="******如需修改，请重新输入" name="password2">
            </div>
            <div class="form-group">
                <label for="realname">姓名:</label>
                <input type="text" class="form-control" id="p_userinfo_realname" name="realname" value="<%=realname%>">
            </div>
            <div class="form-group">
                <label for="email">邮箱:</label>
                <input type="text" class="form-control" id="p_userinfo_email" name="email" value="<%=email%>">
            </div>
            <div class="form-group">
                <label for="phone">联系电话:</label>
                <input type="text" class="form-control" id="p_userinfo_phone" name="phone" value="<%=phone%>">
            </div>
        </div>
        <div class="col-md-2 "></div>
        <div class="col-md-4  d-flex flex-column justify-content-center">
            <div class="d-flex justify-content-center">
                <div style="width:30%;padding-bottom:30%;height:0">
                <img src=<%=avator%> class="img-thumbnail mt-2" alt="" style="width:100%" id="p_userinfo_img_avator">
                </div>
            </div>
            <div class="custom-file my-5 d-flex justify-content-center">
                <label class="btn btn-outline-secondary mb-0"  for="p_userinfo_input_uploadphoto" >选择头像文件</label>
            </div>
            <input type="file" class="custom-file-input" id="p_userinfo_input_uploadphoto" name="filename" accept="image/*">
            <div class="d-flex justify-content-around my-3" >
                <button type="button" class="btn btn-outline-secondary" id="p_userinfo_btn_submit">修改并提交</button>
                <button type="button" class="btn btn-outline-secondary" id="p_userinfo_btn_cancel">取消并退出</button>
            </div>
        </div>
        <div class="col-md-1 "></div>
    </div>
</form>
</div>



<div class="modal fade" id="p_userinfo_modal_save" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                确认修改并退出吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="p_userinfo_btn_saveexit">确认</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">不确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="p_userinfo_modal_msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body" id="p_userinfo_modal_msg_text" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

